
body, html {
	font-weight: normal;
    font-style: normal;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: 'NewsGothicFSCapsLightRegular', Arial, sans-serif;
	font-size:11px;
	background-image: url(http://www.bridgetech.tv/gfx_include/bg.gif);
	height: 100%;
    padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.frontheader {
	font-family: 'NewsGothicFSBookBold', Arial, sans-serif; 
	font-weight: bold; 
	font-style: normal; 
	color: #666666; 
	font-size:50px;
	letter-spacing: -4px;
	line-height: 110%
}

.teaser {
	font-family: 'NewsGothicFSBookBold', Arial, sans-serif; 
	font-weight: bold; 
	font-style: normal; 
	color:#666666; 
	font-size:20px;
}

.pagehead {
	font-family: 'NewsGothicFSBookBold', Arial, sans-serif;
	font-weight: bold;
	font-style: normal; 
	color:#666666;
	font-size: 20px;
	display: block;
}

.subhead {
	font-family: MyWebFont, Arial, sans-serif;
	color:#666666;
	font-weight: bold;
    font-style: normal;
	font-size: 12px;
}

.pagehead-pocketprobe {
	font-family: 'NewsGothicFSBookBold', Arial, sans-serif;
	font-weight: bold;
	font-style: normal; 
	color:#ebebeb;
	font-size: 20px;
}

.subhead-pocketprobe {
	font-family: MyWebFont, Arial, sans-serif;
	color:#ebebeb;
	font-weight: bold;
    font-style: normal;
	font-size: 12px;
}
.subhead-green {
	font-family: MyWebFont, Arial, sans-serif;
	font-weight: bold;
    font-style: normal;
	color:#CCCCCC;
	font-size: 11px;
}

.subhead-grey {
	color:#666666;
	font-weight: bold;
	font-size: 11px;
	font-family: MyWebFont, Arial, sans-serif;
}

.content-pocketprobe {
	font-family: 'NewsGothicFSMediumRegular', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	color:#ebebeb;
	font-size: 12px;
}

.content {
	font-family: 'NewsGothicFSMediumRegular', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	color:#595959;
	font-size: 12px;
}

p { 
	font-family: 'NewsGothicFSMediumRegular', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	color:#595959;
	font-size: 11px;
}

a.link-content:link { 
	color: #12a628;
	font-weight: bold;
	border-bottom-style: none;
	border-bottom-width: 10px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 12px;
}

a.link-content:visited {
	color: #12a628;
	font-weight:normal;
	border-bottom-style: none;
	border-bottom-width: 10px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 12px;
}

a.link-content:hover {
	color: #009900;
	border-bottom-style: none;
	border-bottom-width: 10px;
	text-decoration: underline;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 12px;
}

a.link-content:active {
	color: #009900;
	font-weight: bold;
	border-bottom-style: none;
	border-bottom-width: 10px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 12px;
}

a.link-products:link { 
	color: #00cc00;
	font-weight: bold;
	border-bottom-style: none;
	border-bottom-width: 10px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-products:visited {
	color: #00cc00;
	font-weight: bold;
	border-bottom-style: none;
	border-bottom-width: 10px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-products:hover {
	color: #00cc00;
	font-weight: bold;
	border-bottom-style: none;
	border-bottom-width: 10px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-products:active {
	color: #00cc00;
	font-weight: bold;
	border-bottom-style: none;
	border-bottom-width: 10px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-news:link{
	font-family: 'NewsGothicFSCapsLightRegular', Arial, sans-serif;	
	font-weight: normal;
	font-style: normal;
	color:#545454;
	text-decoration: none;
	font-size: 11px;
}

a.link-news:visited{
	font-family: 'NewsGothicFSLightRegular', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color:#545454;
	text-decoration: none;	
	font-size: 11px;
}

a.link-news:hover{
	font-family: 'NewsGothicFSLightRegular', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color:#545454;
	text-decoration: none; 
	font-size: 11px;
}

a.link-news:active{
	font-family: 'NewsGothicFSLightRegular', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color:#545454;
	text-decoration: none;
	font-size: 11px;
}

a.external{
	font-family: 'NewsGothicFSCapsLightRegular', Arial, sans-serif;	
	font-weight: bold;
	font-style: normal;
	color:#545454;
	text-decoration: none;
	font-size: 20px;
}

a.external:visited{
	font-family: 'NewsGothicFSLightRegular', Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	color:#545454;
	text-decoration: none;	
	font-size: 20px;
}

a.external:hover{
	font-family: 'NewsGothicFSLightRegular', Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	color:#545454;
	text-decoration: none; 
	font-size: 20px;
}

a.external:active{
	font-family: 'NewsGothicFSLightRegular', Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	color:#545454;
	text-decoration: none;
	font-size: 20px;
}

a.link-menumain:link {
	color: #FFFFFF;
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 1px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-menumain:hover {
	color: #FFFFFF;
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 0px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-menumain:visited {
	color: #FFFFFF;
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 0px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-menumain:active {
		color: #FFFFFF;
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 0px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-menusub:link {
	color: #FFFFFF;
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 1px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-menusub:hover {
	color: #FFFFFF;
	font-weight: bold;
	border-bottom-style: none;
	border-bottom-width: 1px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-menusub:visited {
	color: #FFFFFF;
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 1px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-menusub:active {
	color: #FFFFFF;
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 1px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 10px;
}

a.link-menusubBP:link {
	color: #00cc00;
	font-weight: bold;
	border-bottom-style: none;
	border-bottom-width: 1px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 12px;
}

a.link-menusubBP:hover {
	color: #00cc00;
	border-bottom-style: none;
	border-bottom-width: 0px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 12px;
}

a.link-menusubBP:visited {
	color: #00cc00;
	font-weight: bold;
	border-bottom-style: none;
	border-bottom-width: 1px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 12px;
}

a.link-menusubBP:active {
	color: #00cc00;
	border-bottom-style: none;
	border-bottom-width: 0px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 12px;
}

a.link-menubottom:link {
	color: #00cc00;
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 1px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 9px;
}

a.link-menubottom:hover {
	color: #00cc00;
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 0px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 9px;
}

a.link-menubottom:visited {
	color: #00cc00;
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 1px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 9px;
}

a.link-menubottom:active {
	color: #00cc00;
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 0px;
	text-decoration: none;
	font-family: MyWebFont, Arial, sans-serif;
	font-size: 9px;
}

.footer {
	font-family: 'NewsGothicFSBookBold', Arial, sans-serif;
	color:#cccccc;
	font-size: 9px;
}

.header {
	font-family: 'NewsGothicFSBookBold', Arial, sans-serif;
	color:#666666;
	font-weight: bold;
	font-size: 9px;
	font-family: MyWebFont, Arial, sans-serif;
}

.news-header {
font-family: 'NewsGothicFSLightRegular', Arial, sans-serif;
	color:#666;
	font-weight: bold;
	font-size: 9px;
	font-family: MyWebFont, Arial, sans-serif;
}

.news-headerdate {
font-family: 'NewsGothicFSLightRegular', Arial, sans-serif;
	color:#EBEBEB;
	font-weight: bold;
	font-size: 9px;
	font-family: MyWebFont, Arial, sans-serif;
}

.event-header {
	font-family: 'NewsGothicFSBookBold', Arial, sans-serif;
	font-weight: bold; 
	font-style: normal; 
	color:#666666;
	font-size: 25px;
	letter-spacing: -1px;
}

.event-date {
	font-family: 'NewsGothicFSBookBold', Arial, sans-serif;
	font-weight: normal; 
	font-style: normal; 
	color:#666666;
	font-size: 10px;

}

.event-name {
	font-family: 'NewsGothicFSBookBold', Arial, sans-serif;
	font-weight: bold; 
	font-style: normal; 
	color:#666666;
	font-size: 20px;
}

.event-place {
	font-family: 'NewsGothicFSBookBold', Arial, sans-serif;
	font-weight: normal; 
	font-style: normal; 
	color:#666666;
	font-size: 10px;
}


.txt {
	color:#848484;
	font-weight: normal;
	font-size: 9px;
	font-family: MyWebFont, Arial, sans-serif;
}

.features {
	color:#848484;
	font-weight: normal;
	font-size: 11px;
	font-family: MyWebFont, Arial, sans-serif;
}

.box {
	font-weight: normal;
	padding:3px;
	border:1px; 
	border-color:#666666;
	border-style:dotted;
	margin:0px;
	line-height:23px;
	font-size: 10px;
	font-family: MyWebFont, Arial, sans-serif;
}

.partners {
	font-family: 'NewsGothicFSMediumRegular', Arial, sans-serif;
	font-weight: normal;
    font-style: normal;
	color:#595959;
	font-size: 10px;
}
